@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BiblioBooks</h1>
    <p> O melhor site para o seu Gerenciamento de emprestimos de livros!</p>
   <div>
       <img src="/NovaPasta/book.png"/>
   </div>
</div>
